.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.site-nav {
  height: 40px;
  background: black;
}

.site-nav ul a {
  margin-top: 5px;
  text-decoration: none;
  float: right;
  padding-right: 20px;
  color: whitesmoke;
  font-weight: bold;
}

.site-nav ul a:hover {
  color: orangered;
}

.site-nav ul a .active {
  color: red; /* Change color to red for active NavLink */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
